# General

.DS_Store

# Swift

.build
.netrc
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/*.xcodeproj
/Packages
DerivedData/
Package.resolved
xcuserdata/
