[settings]
activate_aggressive = true
experimental = true
not_found_auto_install = true
python.uv_venv_auto = true

[env]
UV_CACHE_DIR = "{{cwd}}/.uv-cache"
PYTHONPATH = "src"

[tools]
python = { version = "latest", uv = true }
uv = "latest"

[tasks.bootstrap]
run = "uv sync"

[tasks.deps-upgrade]
run = "uv sync --upgrade"
