[settings]
activate_aggressive = true
experimental = true

[settings.python]
uv_venv_auto = true

[tools]
pkl = "latest"
python = { version = "latest", uv = true }
uv = "latest"
hk = "latest"
yamllint = "latest"
actionlint = "latest"
tombi = "latest"
yamlfmt = "latest"
ruff = "latest"

[env]
PYTHONPATH = "src"

[tasks.check]
alias = "lint"
run = "hk check --all"

[tasks.fix]
alias = ["fmt", "format"]
run = "hk fix --all"

[tasks.bootstrap]
run = ["hk install --mise", "uv sync"]

[tasks.deps-upgrade]
run = "uv sync --upgrade"

[tasks.run]
alias = "getart"
usage = 'arg "<url>" help="The Apple Music URL to get the artwork for"'
run = 'uv run python -m getart.cli "${usage_url}"'

[tasks.build]
run = "uv build"

[tasks.test]
run = "uv run pytest"

[tasks.clean]
run = [
  "rm -rf dist",
  "rm -rf build",
  "rm -rf .ruff_cache",
  "rm -rf src/getart.egg-info",
  "rm -rf .pytest_cache",
  "find . -name '__pycache__' -type d -prune -exec rm -rf {} +",
]

[tasks.nuke]
depends = ["clean"]
run = ["rm -rf .venv", "uv cache prune"]
