[settings]
experimental = true
lockfile = true

[settings.python]
uv_venv_auto = true

[tools]
actionlint = "latest"
hk = "latest"
pkl = "latest"
python = { version = "latest", uv = true }
ruff = "latest"
tombi = "latest"
uv = "latest"
yamlfmt = "latest"

[hooks]
postinstall = '''
if [ "$CI" == "true" ]; then
  mise run bootstrap-ci
else
  mise run bootstrap
fi
'''

# Tasks

[task_config]
includes = ["scripts"]

[tasks.bootstrap]
alias = "up"
run = ["hk install --mise", { task = "update-hk-import" }, "uv sync"]

[tasks.bootstrap-ci]
run = ["uv sync"]

[tasks.update]
alias = ["upgrade", "upd", "upg"]
run = ["mise upgrade", "uv sync --upgrade"]

[tasks.run]
alias = ["getart", "r"]
usage = 'arg "<url>" help="The Apple Music URL to get the artwork for"'
run = "uv run python -m getart.cli '{{ usage.url }}'"

[tasks.build]
run = "uv build"

[tasks.test]
run = "uv run pytest --verbose"

[tasks.check]
alias = "lint"
run = "hk check --all"

[tasks.fix]
alias = ["fmt", "format"]
run = "hk fix --all"

[tasks.clean]
run = [
  "rm -rf dist",
  "rm -rf build",
  "rm -rf .ruff_cache",
  "rm -rf src/getart.egg-info",
  "rm -rf .pytest_cache",
  "find . -name '__pycache__' -type d -prune -exec rm -rf {} +",
]

[tasks.nuke]
depends = ["clean"]
run = ["rm -rf .venv", "uv cache prune"]
