---
name: Test

on: pull_request

env:
  DEBUG: ${{ secrets.ACTIONS_STEP_DEBUG }}
  MISE_DEBUG: ${{ secrets.ACTIONS_STEP_DEBUG && 1 || 0 }}
  MISE_GITHUB_TOKEN: ${{ github.token }}

jobs:
  test:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: mise run test
